.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outer-container {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: stretch;
  min-height: 100vh;
  min-width: 100vh;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  marginTop: 75px;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.upper-div {
  height: 250px;
  flex-direction: column;
}

.upper-row {
  display: flex;
  flex-direction: row;
  margin-top: 75px;
  justify-content: space-between;
}

.turns-labels {
  flex-direction: row;
  margin-top: 50px;
}

.main {
  display: flex;
  flex-grow: 4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.side {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.my-modal {
  max-width: 90% !important;
}

.indicator {
  color: yellow;
}

.rules {
  align-self: flex-end;
  margin-right: 20px;
  margin-bottom: 40px;
}

.title {
  font-size: 60px;
  font-weight: 500;
}

.dummy {
  visibility: hidden;
}